/*
 * Style sheet for ServletCafe.com
 * Copyright (c) 2003, BlueCraft Software.  All rights reserved. 
 * $Id: servletcafe.css,v 1.5 2003/01/10 07:43:35 hyoon Exp $
 */

A {
    font-family: sans-serif, Verdana, Arial, Geneva;
    color: #001177;
}
A:link {
    text-decoration: none;
    color: #001177;
}
A:visited {
    text-decoration: none;
    color: #001177;
}
A:active {
    text-decoration: none;
    color: #001177;
}
A:focus {
    text-decoration: none;
    color: #001177;
}
A:hover {
    text-decoration: underline;
    color: #0066ff;
}
A.cammoflage:link {
    text-decoration: none;
    color: black;
}
A.cammoflage:visited {
    text-decoration: none;
    color: black;
}
A.cammoflage:active {
    text-decoration: none;
    color: black;
}
A.cammoflage:focus {
    text-decoration: none;
    color: black;
}
A.cammoflage:hover {
    text-decoration: underline;
    color: black;
}

IMG {
    border: groove, 2px;
    border-color: #001177;
}

BODY {
    font-size: small;
    font-family: Arial, Geneva, sans-serif, Verdana;
    background: white;
    color: black;
    margin: 0.02in;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
}
P {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
DIV {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
TD {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
TH {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
TR {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
FORM {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
OL {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
UL {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
LI {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
INPUT {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
TEXTAREA {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
SELECT {
    font-size: small;
    font-family: sans-serif, Verdana, Arial, Geneva;
}
B {
    font-size: small;
    font-family: Verdana, Arial, Geneva, helvetica, sans-serif;
}
PRE {
    font-size: small;
    font-family: courier, sans-serif;
}
TT {
    font-size: small;
    font-family: courier, sans-serif;
}


BODY.mainTemplate {
    font-size: small;
    font-family: Arial, Geneva, sans-serif, Verdana;
    background: url(../images/blueAndWhiteBackground.gif);
    color: black;
    margin: 0.02in;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
}
SPAN.appHeading {
    color: indigo;
    font-size: 24pt;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}
SPAN.pageHeading {
    color: indigo;
    font-size: 16pt;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}
SPAN.sectionHeading {
    font-size: small;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}
SPAN.shortcutHeading {
    color: #003399;
    font-size: 0.85em;
    font-weight: bold;
}

SPAN.menuTitle {
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial, Sans-Serif, Verdana;
}
SPAN.menuItem {
    font-size: 9pt;
    font-weight: normal;
    font-family: Arial, Sans-Serif, Verdana;
}

TABLE.plainbox {
    background: ivory;
    width: 100%;
    border: 0px solid #ccddaa;
}
TABLE.plainbox TR.header TD {
    background: #aabfff;
    height: 24px;
    font-size: 12pt;
    font-weight: bold;
    padding-left: 15px;
}
TABLE.plainbox TR TD {
    font-size: 11pt;
}
TABLE.plainbox TR TD UL {
    margin-left: 25px;
}
TABLE.plainbox TR TD UL LI {
    font-size: 11pt;
}
TABLE.plainbox TR TD DIV {
    font-size: 11pt;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

TABLE.smallbox {
    background: ivory;
    width: 100%;
    border: 0px solid #ccddaa;
}
TABLE.smallbox TR.header TD {
    background: #aabfff;
    height: 20px;
    font-size: 11pt;
    font-weight: bold;
    padding-left: 4px;
}
TABLE.smallbox TR.body TD {
    font-size: 9pt;
    padding-left: 6px;
}
